.card.card-bordered.w-full.max-w-xl.bg-base-300.shadow-xl.mx-auto
  .card-body
    = form_tag send("regenerate_#{@type.to_s.underscore}_path"), method: :post
    .w-full.max-w-lg.grid.grid-cols-1
      - @type.attribute_names.each do |attribute|
        - if @character.send(attribute)
          = hidden_field_tag "#{attribute.to_sym}", @character.send(attribute).name
          .grid.grid-cols-3
            .col-span-1
              .pt-3
                %strong= attribute.to_s.titleize
            .col-span-2
              %label{for: "#{attribute}_lock", class: "lock"}
                = check_box_tag "#{attribute}_lock", nil, params.dig(attribute).present?, class: "lock-input"
                %span.lock-label= @character.send(attribute).name

      = submit_tag "Regenerate", class: "btn btn-primary mt-4"
