.card.card-bordered.w-full.max-w-xl.bg-base-300.shadow-xl.mx-auto
  .card-body
    = form_with model: @character, scope: '', url: send("#{@type.to_s.underscore}_path"), method: :get, data: { controller: @type.to_s.underscore } do |f|
      - send("#{@type.to_s.underscore}_attributes_with_properties").each do |attribute, properties|
        .accordion.form-control.w-full.max-w-lg.grid.grid-cols-4.h-16{data: { "#{@type.to_s.underscore}_target".to_sym => attribute.javascriptize }, hidden: properties[:hidden?] }
          = f.label attribute, class: "label col-span-1 p-0 relative -top-2" do |label|
            %strong.label-text #{label.to_s.titleize}

          = f.select attribute, properties[:options], { },
            data: { action: "#{@type.to_s.underscore}#update", "#{@type.to_s.underscore}_target".to_sym => attribute.javascriptize + "Select" },
            class: "col-span-3 select select-bordered"

      .form-control.w-full.max-w-lg.pt-2
        = f.submit "Generate", class: "btn btn-primary"
