#clearance.sign-up
  .card.card-bordered.w-full.max-w-xl.bg-base-300.shadow-xl.mx-auto
    .card-body
      %h1.card-title= t(".title")
      = form_for @user, html: { class: 'grid gap-3' } do |form|
        .form-control.w-full.max-w-lg.grid.grid-cols-4
          = form.label :email, class: 'label col-span-4 md:col-span-1 pt-0 md:pt-2'
          = form.text_field :email, type: 'email', placeholder: 'Email',
            class: 'col-span-3 input input-bordered'
        .form-control.w-full.max-w-lg.grid.grid-cols-4
          = form.label :password, class: 'label'
          = form.password_field :password, placeholder: 'Password',
            class: 'col-span-4 md:col-span-3 select select-bordered'
        .form-control.w-full.max-w-lg
          = form.submit class: 'btn btn-primary'
        .other-links
          = link_to t(".sign_in"), sign_in_path
