%meta{name: "theme-color", content: "#007ebd"}
%link{rel: "icon", href: asset_path("users-rays-solid.svg")}
%link{rel: "mask-icon", href: asset_path("users-rays-solid.svg"), color: "#007ebd"}
%link{rel: "apple-touch-icon", href: asset_path("apple-touch-icon.png")}
%link{rel: "manifest", href: asset_path("manifest.json")}
