.navbar.bg-secondary.text-secondary-content.mb-4.lg:mb-6
  -# hamburger menu
  %details.dropdown.lg:hidden
    %summary.btn.btn-ghost
      %i.fas.fa-bars
    %ul.dropdown-content.menu.menu-sm.mt-3.p-2.shadow.bg-secondary.rounded-box.w-52.z-10
      %li
        %a{href: kithain_path}
          Random Kithain
      %li
        %a{href: new_kithain_path}
          Generate Kithain
      %li
        %a{href: thallain_path}
          Random Thallain
      %li
        %a{href: new_thallain_path}
          Generate Thallain
      %li
        %a{href: 'https://rae.evilpaws.org/', rel: "nofollow", data: { confirm: 'Ready to leave?' }}
          %span
            rae.evilpaws.org
            %i.fas.fa-external-link-alt

  %div
    %span.normal-case.text-xl.whitespace-nowrap.px-4
      %i.fas.fa-user
      Character Generator

  -# horizontal menu
  .hidden.lg:flex
    %ul.menu.menu-horizontal.p-2.rounded-box
      %li
        %a.rounded-box{href: kithain_path}
          Random Kithain
      %li
        %a{href: new_kithain_path}
          Generate Kithain
      %li
        %a{href: thallain_path}
          Random Thallain
      %li
        %a{href: new_thallain_path}
          Generate Thallain

  .hidden.lg:flex.grow.justify-end
    %ul.menu.menu-horizontal.p-0
      %li
        %a{href: 'https://rae.evilpaws.org/', rel: "nofollow", data: { confirm: 'Ready to leave?' }}
          %span
            rae.evilpaws.org
            %i.fas.fa-external-link-alt
