%nav.navigation{:role => "navigation"}
  = link_to(t("administrate.navigation.back_to_app"), root_url, class: "button button--alt button--nav") if defined?(root_url)
  - Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource|
    = link_to(display_resource_name(resource), resource_index_route(resource),
        class: "navigation__link navigation__link--#{nav_link_state(resource)}") if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource))

  = button_to "Sign out", sign_out_path, { method: :delete, class: 'button button--alt button--nav',
    style: 'margin-top: 1.5em' }
