#clearance.password-reset
  .card.card-bordered.w-full.max-w-xl.bg-base-300.shadow-xl.mx-auto
    .card-body
      %h1.card-title= t(".title")
      %p.mb-3= t(".description")
      = form_for :password_reset,
          url: [@user, :password, token: @user.confirmation_token],
          html: { method: :put, class: 'grid gap-3' } do |form|
        .form-control.w-full.max-w-lg.grid.grid-cols-4
          = form.label :password, class: 'label col-span-4 md:col-span-1 pt-0 md:pt-2'
          = form.password_field :password, placeholder: 'Password',
              class: 'col-span-4 md:col-span-3 select select-bordered'
        .form-control.w-full.max-w-lg
          = form.submit class: 'btn btn-primary'
