@layer components {
  .accordion {
    @apply transition-all duration-200 ease-in-out overflow-auto;
  }

  .accordion[hidden] {
    @apply h-0 overflow-hidden;
  }

  .lock {
    @apply cursor-pointer btn btn-ghost font-normal normal-case;

    .lock-input {
      @apply appearance-none h-0 w-0;

      &:focus {
        @apply outline outline-1 outline-inherit;
      }
    }

    .lock-label {
      @apply text-base;

      &::before {
        @apply inline-block h-[11px] w-[13px] mr-0.5 bg-base-content content-[''];
        mask-image: url("lock-open-solid.svg");
        mask-repeat: no-repeat;
      }
    }

    .lock-input:checked + .lock-label {
      @apply text-primary;
      &::before {
        @apply bg-primary;
        mask-image: url("lock-solid.svg");
      }
    }
  }
}
