!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title= @title || 'Character Generator'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", data: { turbo_track: "reload" }
    = javascript_include_tag "application", data: { turbo_track: "reload" }, defer: true
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = render(partial: 'shared/favicon')

  %body
    .container.mx-auto
      = render partial: 'shared/header'
      = render partial: 'shared/alerts'
      = yield
